<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user1.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user1.email %>
</p>


<%= link_to 'Edit', edit_user1_path(@user1) %> |
<%= link_to 'Back', user1s_path %>
